<%= image_tag user.get_profile_image(63,63)%>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<% if user==current_user%>
  <%= link_to "編集", edit_user_path(current_user.id)%>
<% else %>
  <%= link_to "編集", user_path(current_user.id)%>
<% end %>
